
body {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;



}
.p {
  display: inline-block;
  text-align: center;
}
#wrapper {
  display: inline-block;
  background-color: rgba(0,0,0,0.5);
  height: 768px;
  width: 768px;
  line-height: 0px;
  border-radius: 5px;
  margin-top: 80px;
  margin-left: 400px;



}


.square {

  background-color: rgba(0,0,0,0.3);
  margin: 2px;/*marginl_r 1 = 10px+2 *16(kästechengridk*/
  display: inline-block;

}

#icon {
  position: absolute;
  top: 10px;
  left: 0;
}
.yes {
  position: absolute;
  top: 80px;
}
button {
    display: block;
    font-family: sans-serif;
    position: relative;

  	color: #666;
  	background-color: #eee;
  	text-transform: uppercase;
  	letter-spacing: 2px;
  	font-size: 12px;
  	padding: 10px 30px;
  	border-radius: 5px;
  	border: 1px solid rgba(0,0,0,0.3);
  	border-bottom-width: 3px;
    margin-top: 10px;
  }
  #resize {
    display: inline;
  }
  #clear {
    display: inline;
    margin-left: 5px;

  }
  /**
  a.btn.btn-blue {
  	background-color: #699DB6;
  	border-color: rgba(0,0,0,0.3);
  	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
  	color: #FFF;
  }
  a.btn.btn-red {
  	background-color: #E48681;
  	border-color: rgba(0,0,0,0.3);
  	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
  	color: #FFF;
  }
**/
