#wrapper {
  background-color: red;
  height: 768px;
  width: 768px;
  margin: 0 auto;
  line-height: 0px;
}


.square {
  width: 20px;
  height: 20px;
  background-color: black;
  margin: 2px;/*marginl_r 1 = 10px+2 *16(kästechengridk*/
  display: inline-block;

}
